<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irigorfojeto</title>
</head>
<body>
    Artista
    <a href="/admin">Página Inicial</a>
    <a href="/admin/autor/add">Adicionar</a>
    <a href="/admin/autor/lst">Listar</a>
    <form method="post">
        <input type="text" class="pesquisa" name="pesquisa" placeholder="Digite o nome do autor que deseja pesquisar.">
        <input type="submit" value="Pesquisar">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Foto</th>
            <th>Genero</th>
            <th>Titulo</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <% Autores.forEach(function (autor) { %>
        <tr>
            <td><%=autor._id%></td>
            <td><%=autor.nome%></td>
            <td><%=autor.nascimento%></td>
            <td><img src="/fotos/<%=autor.foto%>" alt="Foto do autor"></td>
            <td>
                <% autores.generos.forEach(function (genero) { %>
                <%=genero.nome%><br>
                <% }) %>
            </td>
            <td>
                <% autor.titulos.forEach(function (titulo) { %>
                <%=titulo.nome%><br>
                <% }) %>
            </td>
            <td><a href="/admin/autor/edt/<%=autor._id%>">Editar</a></td>
            <td><a href="/admin/autor/deleta/<%=autor._id%>">Deletar</a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
